body{
    padding-bottom: 50px;
    text-align: center;
}
.main-container{
    margin-top: 25px;
}
footer{
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 25px;
}